.card {
  /* display: block; */
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.blokapp {
  display: flex;
  flex-wrap: wrap;
}
.card:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}
.bigcard {
  width: 90%;
  margin: auto;
}
.infoform {
  padding-left: 100px;
  padding-top: 10px;
}
